<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${title}"></title>
</head>
<body>
<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <p class="row">
            <div class="col-md-10">
                <h1 th:text="${title}"></h1>
                <img src="/jpgs/virus.jpeg">
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque ex in nam
                    non perspiciatis quidem reiciendis sed! Fugit hic perferendis quidem? Autem corporis deserunt
                    dignissimos et explicabo fugiat fugit illum ipsam iste laudantium magnam magni natus pariatur
                    quaerat, ratione saepe soluta ullam voluptatem. Ab exercitationem omnis quidem quos! A ab alias
                    aliquid aperiam aspernatur deleniti dolor esse fugit magnam maxime modi nihil quidem rerum soluta
                    tenetur velit, vero voluptate, voluptatem! </p>
            </div>
        </div>
</div>
</section>
</div>
</body>
</html>
